#Example env

LOG_LEVEL="INFO

# Headers
Content-Type="application/json"
X-API-Key="public_test_key_12345"

# URL Parameters (Appended to the URL: ?test_mode=true)
test_mode="true"

# JSON Payload (Sent in the POST body)
user_id="test_user_999"
action="update_profile
